<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.shell.dao.PurchaseListMapper">

    <select id="queryPurchaseList" resultType="com.bean.shell.vo.PurchaseVO">
        select a.purchase_list_id,a.parent_name,a.purchase_name,a.purchase_num,a.purchase_spec,a.purchase_time,a.remark,b.staff_name,b.shop_addr,a.unit_price,a.total_price,a.remark,a.parent_type,a.purchase_type
        from purchase_list  a ,beanshell_staff b
        where a.create_oper = b.beanshell_staff_id
        <if test="req.parentType !=null and req.parentType!=''">
            and a.parent_type  = #{req.parentType}
        </if>
        <if test="req.purchaseType!=null and req.purchaseType!=''">
            and  a.purchase_type = #{req.purchaseType}
        </if>
        <if test="req.shopName!=null and req.shopName!=''">
            and  b.shop_addr like CONCAT('%',#{req.shopName},'%')
        </if>
        <if test="req.purchaseBeginTime!=null and req.purchaseBeginTime!='' and req.purchaseEndTime!=null  and req.purchaseEndTime!=''">
            and a.purchase_time between #{req.purchaseBeginTime}  and  #{req.purchaseEndTime}
        </if>
    </select>
</mapper>
